<div id="<%= "todo_#{todo._id}_item" %>">
  <%= turbo_frame_tag dom_id(todo) do %>
      <%=
      # binding.pry
       %>
      <h3><%= todo.title%></h3>
      <p><%= todo.description%></p>
      <%= button_to 'Edit', edit_todo_path(todo), method: :get %>
        <% if todo.complete? %>
          <%= button_to "Mark incomplete", todo_path(todo, todo: { status: 'incomplete'}), method: :patch, class: "bg-neutral-50 px-3 py-2 rounded inline-flex items-center justify-center text-neutral-600" %>
        <% else %>
          <%= button_to "Mark complete", todo_path(todo, todo: { status: 'complete'}), method: :patch, class: "bg-green-50 px-3 py-2 rounded inline-flex items-center justify-center text-green-600" %>
        <% end %>

        <%= button_to "Delete", todo_path(todo), method: :delete, class: "bg-red-50 px-3 py-2 rounded inline-flex items-center justify-center text-red-600" %>
  <% end %>
</div>
