<div id="translation-<%= books_translation2[:id].to_s %>" class="translations-wrapper">
  <div class="expression-transcription-wrapper">
      <% books_translation2[:to_learn_words].each do |to_learn_words| %>
        <div
          id="to-learn-expression-<%= to_learn_words[:id] %>"
          onclick="toggleElement({ neatId: '#to-learn-expression-<%= to_learn_words[:id] %>' })"
          title="Click here to hide or show !"
          class="expression">
            <%= to_learn_words[:expression] %>
        </div>
        <div
          id="to-learn-transcription-<%= to_learn_words[:id] %>"
          onclick="toggleElement({ neatId: '#to-learn-transcription-<%= to_learn_words[:id] %>' })"
          title="Click here to hide or show !"
          class="transcription">
            <%= to_learn_words[:transcription] %> 
        </div>
      <% end %>
  </div>
  <div class="expression-transcription-wrapper">
    <% books_translation2[:native_words].each do |native_words| %>
      <div
        id="native-expression-<%= native_words[:id] %>"
        onclick="toggleElement({ neatId: '#native-expression-<%= native_words[:id] %>' })"
        title="Click here to hide or show !"
        class="expression">
          <%= native_words[:expression] %>
      </div>
      <div
        id="native-transcription-<%= native_words[:id] %>"
        onclick="toggleElement({ neatId: '#native-transcription-<%= native_words[:id] %>' })"
        title="Click here to hide or show !"
        class="transcription">
          <%= native_words[:transcription] %>
      </div>
    <% end %>
  </div>
  <div class="actions-pannel">
    <%= button_to 'mark as need to learned', change_learned_status_path(book_id: params[:book_id], translation_id: books_translation2[:id], status: false ), method: :put if params[:learned] %>
    <%= button_to 'mark as learned', change_learned_status_path(book_id: params[:book_id], translation_id: books_translation2[:id], status: true ), method: :put unless params[:learned] %>
    <%= button_to 'remove translation', remove_from_user_book_path(book_id: params[:book_id], translation_id: books_translation2[:id]), method: :delete, data: { confirm: 'Are you sure?' }  %>
    <%= link_to 'edit translation',translations_edit_path(user_id: @current_user.id, book_id: params[:book_id], translation_id: books_translation2[:id], learned: params[:learned], page: params[:page]), class: 'button2'%>
  </div>
</div>
